table{
	border-collapse: collapse
}

.border{
	border: 2px solid gray;
	margin-left: 50px;
	line-height:20px
}

table th, table.border td{
	border: 1px solid gray;
	padding: 5px
}

table th{
	background-color: lightgreen;
	color: green
}

td span{
	color: red;
	font-weight: bold
}

.right{
	text-align: right;
}

.a{
	width: 40px;
}

.b{
	width: 70px
}

.c{
	width: 60px
}

.d{
	width: 180px
}

.e{
	width: 60px
}

.f{
	width: 150px
}

.g{
	width: 400px
}

img{
	margin: 10px
}

.box1{
	border: solid 3px gray;
	border-radius: 10px;
	width: 850px;
	text-align: center;
	margin:0 auto
}

.form-size{
	width: 500px;
	height: 20px
}

textarea{
	resize: none;
	width: 500px;
	height: 200px;
	vertical-align: middle
}

.submit{
	background-color: #1e90ff;
	color: white;
	width: 70px;
	height: 30px;
	border-radius: 5px
}

form span{
	margin-left: 16px
}
